name: FTP Test

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy website every commit
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Sync files
        uses: ./
        with:
          server: ftp.109.108.140.33
          username: gititqftp
        password: ${{ secrets.PROD_FTP_PASSWORD }}